@import '~material-design-icons/iconfont/material-icons.css';

$bg: #333;
$red: hsla(10, 90%, 40%, 1);
$blue: hsla(235, 95%, 55%, 1);
$green: hsla(106, 85%, 35%, 1);
$push-size: 100px;

$button-colors: (red, $red), (green, $green), (blue, $blue);

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

@font-face {
  font-family: 'ARCADE_N';
  src: local('ARCADE_N'), url(./fonts/ARCADE_N.TTF) format('truetype');
}

body {
  font-family: ARCADE_N, sans-serif;
  font-size: 48px;
  background-color: #212121ff;
  color: white;
}

.active {
  background-color: white;
  color: black;
}

.character {
  display: inline-block
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8%;
}

.tweet-characters {
  width: 65%;

  @media only screen and (max-device-width: 480px) {
    width: 90%;
  }
}

.material-icons, .twitter-logo {
  margin-top: 25%;
}

.twitter-logo {
  width: 48px;
}

.no-select {
  user-select: none;
}

.footer {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer a {
  color: $green;
}

.footer img {
  width: 30px;
  height: 30px;
  margin-top: 0;
  color: $blue;
}

/* adapted from https://codepen.io/thierrymichel/pen/Pwzbmd */
.button-flat {
  font-size: 30px;
  color: white;
  text-align: center;
  position: relative;
  display: inline-block;
  width: $push-size;
  height: $push-size;
  border: 0;
  margin: 1em;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms;

  @each $name, $color in $button-colors {
    &.#{$name} {
      background-color: $color;
      box-shadow: inset 0 $push-size/32 0 lighten($color, 5%),
      inset 0 (-$push-size/32) 0 darken($color, 5%),
      inset 0 0 0 $push-size/32 darken($color, 3%),
      inset 0 0 0 $push-size/12 $color,
      inset 0 0 0 $push-size/10 darken($color, 20%),
      inset 0 0 0 $push-size/9.2 darken($color, 50%),
      inset 0 0 0 $push-size/7.5 transparentize(lighten($color, 30%), .3),
      inset 0 0 0 $push-size/5.5 $color,
      inset 0 $push-size/2.5 $push-size/7.5 darken($color, 5%),
      inset 0 0 $push-size/10 $push-size/6 darken($color, 10%),
      0 $push-size/20 0 rgba(0, 0, 0, .3);

      &:active,
      &.is-pushed {
        box-shadow: inset 0 $push-size/32 0 lighten($color, 5%),
        inset 0 (-$push-size/32) 0 darken($color, 5%),
        inset 0 0 0 $push-size/32 darken($color, 3%),
        inset 0 0 0 $push-size/12 $color,
        inset 0 0 0 $push-size/10 darken($color, 20%),
        inset 0 0 0 $push-size/8.5 darken($color, 40%),
        inset 0 0 0 $push-size/7.5 transparentize(lighten($color, 30%), .8),
        inset 0 0 0 $push-size/5.5 darken($color, 3%),
        inset 0 $push-size/2.5 $push-size/7.5 darken($color, 8%),
        inset 0 0 $push-size/10 $push-size/6 darken($color, 15%),
        0 $push-size/20 0 rgba(0, 0, 0, .3);
        background-color: darken($color, 2%);


        &:after {
          bottom: $push-size/20 + $push-size/15;
          border-width: 0;
        }
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: $push-size/20;
    left: $push-size/10;
    display: block;
    width: $push-size/1.25;
    height: $push-size/1.25;
    border: $push-size/15 solid rgba(0, 0, 0, .3);
    border-width: 0 0 $push-size/15;
    border-radius: 50%;
    transition-duration: 200ms;
  }
}